body {
  font-family: "Merriweather", serif;
}
h1 {
  width: 91px;
  height: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  margin-left: 100px;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
.search {
  display: flex;
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  border-style: solid;
  border-radius: 7px;
  border-color: grey;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
}
.list {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.list:hover {
  cursor: pointer;
}
.specialList{
    background-color: rgb(129, 129, 250);
  color: white;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 7px;
}
.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  height: 450px;
}
.item {
  box-sizing: border-box;
  width: 327px;
  height: 208px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding-top: 24px;
  padding-left: 24px;
}
.item:hover {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 7px;
}
.ava {
  box-sizing: border-box;
  width: 97px;
  height: 97px;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  background-image: url(https://th.bing.com/th/id/R.d41e35dedb6ffa2bce0cd4e0c89d6387?rik=SlS8I1XPJ58KlQ&pid=ImgRaw&r=0);
}
.ava:hover{
    border-color: blue
}
.info {
  margin-left: 20px;
  width: fit-content;
  height: fit-content;
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 18px;
}
p {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 140px;
  height: 50px;

}
.mini-tag {
  justify-content: flex;
  align-items: center;
  font-size: 12px;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  border-radius: 7px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  padding: 3px 3px 3px 3px;
}
