.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.danteLogo {
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: 50px;
  margin-left: 30px;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 75%;
  margin-right: 40px;
  list-style: none;
}
.items-menu-header {
  text-decoration: none;
  color: white;
  font-family: "Catorze 27 Medium";
}
.footer {
  position: fixed;
  top: 565px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.socialContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 8%;
}
.items-menu-footer {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 80%;
}
/*page1*/
* {
  box-sizing: border-box;
}
/* thiết lập style cho slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 100vh;
}
.image-page1 {
  width: 100%;
  height: 100vh;
}
/* ẩn hình ảnh cho phần tử slideshow */
.mySlides {
  display: none;
}
/* thiết kế nút mũi tên*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* thiết kế nút mũi tên next nằm phía bên phải */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Thiết lập style cho nội dung của mỗi phần tử slideshow */
/* tạo hiệu ứng chuyển động fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.page2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.paragraph-page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  word-spacing: 5px;
  line-height: 20px;
  margin-right: 50px;
}
.contact-page2 {
  color: white;
}
.caffeDante-page2 {
  color: rgb(43, 170, 43);
}
.image-page2 {
  display: flex;
  box-sizing: border-box;
  height: 750px;
  width: 600px;
}
.page3 {
  margin-top: 50px;
  background-image: url(DanteGmap.PNG);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Gmap-button {
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 50px;
}
.Gmap-button:hover {
  color: black;
  background-color: white;
}
