body {
  font-family: "Cuprum", sans-serif;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.danteLogo {
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  margin-left: 2%;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-right: 3%;
  list-style: none;
}
.items-menu-header {
  text-decoration: none;
  color: white;
}
.footer {
  position: fixed;
  top: 90%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.socialContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 8%;
}
.items-menu-footer {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 80%;
}
/*page1*/
* {
  box-sizing: border-box;
}
/* thiết lập style cho slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 100vh;
}
.image-page1 {
  width: 100%;
  height: 100vh;
}
/* ẩn hình ảnh cho phần tử slideshow */
.mySlides {
  display: none;
}
/* thiết kế nút mũi tên*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* thiết kế nút mũi tên next nằm phía bên phải */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* thiết lập style  nút tròn điều khiển*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* tạo hiệu ứng chuyển động fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.flexContainer-page2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 50%;
}
.menu-unChoose {
  width: fit-content;
  height: fit-content;
  border-style: solid;
  border-color: white;
  color: white;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2%;
  margin-right: 1%;
}
.menu-unChoose:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
.menu-choose {
  width: fit-content;
  height: fit-content;
  border-style: solid;
  border-color: white;
  color: black;
  background-color: white;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 1%;
}
.table-page2 {
  border-style: double;
  border-color: white;
  box-sizing: border-box;
  height: fit-content;
  color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  margin-left: 13%;
  margin-right: 10%;
  margin-bottom: 10%;
  line-height: 2rem;
}
.menuTab-page2 {
  display: none;
}
h3 {
  color: rgb(48, 172, 48);
}
